@charset "UTF-8";
/* Written with ❤ by Vinces [https://vinces.io] */
:root {
  --color-dark: #101c2b;
  --color: #37618e;
  --color-light: #e1e2e8;
  --background: #f8f9ff;
  --background-light: #ffffff;
  --contrast: #a1c9fd;
  --border: #d7e3f8;
  --red: #ba1a1a;
  --transparent: rgba(var(--color-dark), 0.1);
  --gap: 20px;
  --space: 10px;
  --sizeicon-mini: 18px;
  --sizeicon-small: 24px;
  --sizeicon-normal: 32px;
  --sizeicon-large: 62px;
}

@media (prefers-color-scheme: dark) {
  body:not([class~=light-theme]) {
    --color-dark: #e1e2e8;
    --color: #a1c9fd;
    --color-light: #1b4975;
    --background: #0b0e13;
    --background-light: #253141;
    --contrast: #3b2947;
    --border: #8d9199;
    --red: #690005;
    --transparent: rgba(var(--color-dark), 0.1);
  }
}
.dark-theme {
  --color-dark: #e1e2e8;
  --color: #a1c9fd;
  --color-light: #1b4975;
  --background: #0b0e13;
  --background-light: #253141;
  --contrast: #3b2947;
  --border: #8d9199;
  --red: #690005;
  --transparent: rgba(var(--color-dark), 0.1);
}

* {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  color: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: inherit;
}

form {
  display: block;
}

select,
input {
  font-size: inherit;
  font-family: inherit;
}

pre {
  font-family: monospace;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
}

hr {
  height: 1px;
  background: var(--border);
  margin: 0;
  padding: 0;
  border: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("fonts/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("fonts/Rubik-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("fonts/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Light";
  src: url("fonts/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-LightItalic";
  src: url("fonts/Rubik-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Black";
  src: url("fonts/Rubik-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-ExtraBold";
  src: url("fonts/Rubik-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Italic";
  src: url(~@/assets/fonts/Rubik-Italic.ttf) format("truetype");
}
/* wave animation */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
* {
  font-family: Rubik-Regular, sans-serif;
}

body {
  color: var(--color);
  background: var(--background);
  line-height: 1;
}
body.light-theme {
  background: var(--background);
}
body.dark-theme {
  background: var(--background);
}

::selection {
  background: var(--contrast);
  color: #fff;
}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
  margin: 10px 0;
  font-family: Rubik-Bold, sans-serif;
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.3;
  margin: 10px 0;
  font-family: Rubik-Medium, sans-serif;
}

h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.4;
  margin: 10px 0;
  font-family: Rubik-Medium, sans-serif;
}

h4 {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  margin: 10px 0;
  font-family: Rubik-Medium, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  text-decoration: underline;
  color: var(--color);
  transition: color 0.3s;
}
a:hover {
  color: var(--contrast);
}

p {
  line-height: 1.2;
  margin: 10px 0;
}

code {
  background-color: var(--contrast);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.125rem;
  color: var(--color);
}

#app {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.wrapper__content {
  padding: var(--gap) 0;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.page {
  min-height: calc(100vh - 56px - 52px - 40px);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
